.navigationContainer {
    margin: 0px auto;
    display: flex;
    justify-content: flex-end;
    padding: 0px 8px 0px 0px;
    width: 1240px;
    height: 42px;
}

.hide {
    display: none;
}

/*__________________________________ Zpět __________________________*/
.back {
    display: flex;
    font-size: 1.2em;
    color: #eee;
    text-decoration: none;
    margin: 0px auto 0px 0px;
}

.back:hover {
    text-decoration: underline;
	outline: none;
}

.back > div {
    display: inline-flex;
    align-self: center;
}

.backLogo {
    height: 22px;
    margin: auto 10px;
}

/*__________________________________ Odhlášení __________________________*/

.logout {
    margin: 0px 0px 0px 0px;
	padding: 7px 15px;
    font-size: 1.2em;
    text-decoration: none;
	font-weight: bold;
	background: transparent;
	border: 2px solid #B22222;
	border-radius: 3px;
	cursor: pointer;
    color: #eee;
    transition: background 0.5s ease-in-out;
}

.logout:hover {
    background: #B22222;
	outline: none;
}

.logout > div {
    display: inline-flex;
}

.logoutLogo {
    float: left;
    height: 24px;
    margin: 0px 10px 0px 0px;
}