body {
	background-image: url("../images/background.jpg");
	font-family: "Verdana";
}

.hide {
	display: none;
}

.toCenter {
	margin: 0px 0px 0px 0px;
	padding: 0px 16px 0px 0px;
}

#content {
	width: 1280px;
	margin: 0px auto;
}

/*__________________________________ nová platba __________________________*/
#newPayment {
	width: 1200px;
	color: #394359;
	border-top: 8px solid #02AAE9;
	border-radius: 3px;
	margin: 15px 15px 15px 15px;
	background: #EEE;
	padding: 10px 20px;
}

#newPayment h1 {
	text-align: left;
}

#newPayment #payment {
	float: right;
	height: 70px;
	margin: 0px 0px 0px 0px;
}

/*________________________ table ________________________*/
#newPayment table {
	margin: auto;
}

#newPayment table #error {
	height: 20px;
	width: 455px;
	margin: 0px 0px -9px 20px;
	text-align: center;
	color: #cc0000;
	font-weight: bold;
}

#newPayment table #confirmationError {
	height: 20px;
	width: 335px;
	margin: 0px 0px -9px 140px;
	text-align: center;
	color: #cc0000;
	font-weight: bold;
}

#newPayment label {
	font-size: 1.3em;
	float: right;
	padding: 10px 20px;
	margin: 8px 0px 0px 0px;
}

/*________________________ input ________________________*/
#newPayment input {
	height: 27px;
	font-size: 1.4em;
	padding: 0px 5px;
	border-radius: 3px;
	border: 1px solid #394359;
	width: 445px;
	margin: 10px 0px 10px 20px;
}

#newPayment input:focus {
	outline: none;
}

#newPayment input:-webkit-autofill, #newPayment input:-webkit-autofill:hover,
#newPayment input:-webkit-autofill:focus, #newPayment input:-webkit-autofill:active {
	-webkit-text-fill-color: black;
}

#newPayment input:-webkit-autofill::first-line {
  font-size: 22px;
}

#newPayment #accountNumberPrefix {
	width: 371px;
}

#newPayment #amountInput {
	width: 354px;
}

#newPayment #confirmationInput {
	width: 325px;
}

/*________________________ výběr kódu banky ________________________*/
#newPayment #bankCodesSelect {
	border: 1px solid #394359;
	float: right;
	font-size: 1.4em;
	width: 57px;
	height: 27px;
	background: white;
	padding: 0px 5px;
	margin: 10px 0px 0px 0px;
	border-radius: 3px;
}

#newPayment #bankCodesSelect:hover {
	cursor: pointer;
}

#newPayment #bankCodesSelect #caretDown {
	float: right;
	margin: 12px 0px 0px 0px;
	width: 10px;
}

#newPayment #bankCodesSelect #bank {
	width: 22px;
	margin: 3px 0px 0px 12px;
}

#newPayment #bankCodesChoice {
	background: white;
	position: relative;
	margin: 1px 0px 0px -6px;
	border: 1px solid #394359;
	border-radius: 3px;
	padding: 5px;
	z-index: 1;
	width: 325px;
}

#newPayment #bankCodesChoice div:hover {
	cursor: pointer;
	opacity: 0.7;
}

/*________________________ select ________________________*/
#newPayment select {
	height: 30px;
	font-size: 1.4em;
	border-radius: 3px;
	margin: 0px 0px 0px 5px;
	padding: 0px 5px;
}

#newPayment select:hover {
	cursor: pointer;
}

#newPayment select:focus {
	outline: none;
}

#newPayment #exchangeRate {
	padding: 0px 0px 0px 20px;
}

/*________________________________________________*/
#newPayment #confirmationValue {
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	margin: 10px 0px 0px 20px;
	width: 100px;
}

/*________________________ submit ________________________*/
#newPayment button {
	margin: 50px 0px 30px 0px;
	padding: 10px 20px;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #B22222;
	border: 2px solid #B22222;
	border-radius: 3px;
	cursor: pointer;
	color: #eee;
}

#newPayment button:hover {
	text-decoration: underline;
}

#newPayment button:focus {
	outline: none;
}