body {
	background-image: url("../images/background.jpg");
	font-family: "Verdana";
}

.hide {
	display: none;
}

.plus {
	color: #0f862f;
}

.minus {
	color: #B22222;
}

/*__________________________________ obsah __________________________*/
#content {
	width: 1280px;
	margin: 20px auto;
}

#firstColumn {
	float: left;
}

/*__________________________________ účet __________________________*/
#account {
	text-align: right;
	color: #394359;
	border-top: 8px solid #EE842C;
	border-radius: 3px;
	width: 340px;
	margin: 30px 15px;
	background: #EEE;
	padding: 10px 20px;
}

#account img {
	float: left;
	height: 45px;
	margin: 8px 0px 0px 0px;
}

#account #user {
	font-weight: bold;
	font-size: 1.3em;
}

#account #accountNumber {
	font-size: 1.1em;
	margin: 6px 0px 15px 0px;
}

#account #balance {
	color: #0f862f;
	font-size: 1.5em;
	font-weight: bold;
	margin: 4px 0px;
}

#account input {
	color: #394359;
	padding: 7px 5px;
	margin: 10px 0px 0px 10px;
	font-weight: bold;
	background: #EEE;
	border: 2px solid #B22222;
	border-radius: 3px;
	font-size: 0.9em;
	cursor: pointer;
}

#account .active {
	background: #B22222;
	color: #EEE;
	outline: none;
}

#account input:hover, #account input:focus{
	background: #B22222;
	color: #EEE;
	outline: none;
}

/*__________________________________ kreditní karty __________________________*/
#creditCard {
	color: #394359;
	border-top: 8px solid #808080;
	border-radius: 3px;
	width: 340px;
	margin: 30px 15px;
	background: #EEE;
	padding: 10px 20px;
	text-align: right;
}

#creditCard img {
	float: left;
	height: 45px;
	margin: 10px 0px 0px 0px;
}

#creditCard #type {
	font-size: 1.2em;
}

#creditCard #user {
	font-size: 1.3em;
	font-weight: bold;
}

#creditCard #validFrom {
	margin: 15px 0px 0px 0px;
}

#creditCard #validTo {
	margin: 0px 0px 15px 0px;
}

#creditCard #cardNumber {
	font-size: 1.3em;
	font-weight: bold;
	margin: 4px 0px;
}

/*__________________________________ nová platba __________________________*/
#newPayment {
	display: block;
	color: #394359;
	border-top: 8px solid #02AAE9;
	background: #02AAE9;
	border-radius: 3px;
	margin: 30px 15px;
	background: #EEE;
	padding: 10px 20px;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	text-decoration: none;
}

#newPayment:hover {
	text-decoration: underline;
}

/*__________________________________ historie plateb __________________________*/
#history {
	float: left;
	color: #394359;
	border-top: 8px solid #F3E82E;
	border-radius: 3px;
	width: 800px;
	margin: 30px 15px;
	background: #EEE;
	padding: 0px 10px 0px 20px;
}

/*_____________________ historie tabůlka ____________________*/
#history table {
	width: 100%;
}

#history #column1 {
	width: 10%;
}

#history #column2 {
	width: 60%;
}

#history #column3 {
	width: 30%;
}
/*____________________________________________________________*/

#history #payment {
	border-top: 1px solid #394359;
}

#history details summary::-webkit-details-marker {
	display:none;
}

#history details summary:focus {
	outline: none;
}

#history #payment:hover {
	cursor: pointer;
}

#history #payment:first-child {
	border: none;
}

#history #buttonContainer {
	border-top: 1px solid #394359;
}

#buttonContainer button {
	margin: 10px 0px 10px 0px;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: none;
	cursor: pointer;
	color: #394359;
}

#buttonContainer button:hover  {
	text-decoration: underline;
}

#buttonContainer button:focus {
	outline: none;
}

/*__________________________________ platba __________________________*/

#payment #paymentDate {
	font-weight: bold;
	font-size: 1.2em;
	margin: 0px 15px 0px 0px;
}

#payment #name {
	font-size: 1.2em;
	font-weight: bold;
	margin: 15px 0px 0px 0px;
}

#payment #paymentType {
	margin: -1px 0px 10px 0px;
}

#payment #amount {
	font-weight: bold;
	font-size: 1.2em;
	text-align: right;
}

#payment #detail {
	margin: 5px 0px 15px 0px;
}

#payment #detail:hover {
	cursor: default;
}

/*_____________________ detail tabůlka ____________________*/

#detail table {
	width: 100%;
	margin: 0px 0px 0px 0px;
}

#detail #column1 {
	width: 10.8%;
}

#detail #column2 {
	width: 29.2%;
}

#detail #column3 {
	width: 60%;
}

/*__________________________________ hlášení __________________________*/

#report {
	text-align: right;
	color: #394359;
	border-top: 8px solid #EB1C22;
	border-radius: 3px;
	width: 340px;
	margin: 30px 15px;
	background: #EEE;
	padding: 10px 20px;
}

#report img {
	float: left;
	height: 45px;
	margin: 10px 0px 0px 0px;
}

#report #month {
	font-size: 1.3em;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
}

#report #leftArrow {
	height: 16px;
	padding: 4px 0px 0px 0px;
	margin: 0px 15px 0px 0px;
	float: none;
}

#report #rightArrow {
	height: 16px;
	padding: 4px 0px 0px 0px;
	margin: 0px 0px 0px 15px;
	float: none;
}

#report #leftArrow:hover, #report #rightArrow:hover {
	cursor: pointer;
}

#report #income {
	font-weight: bold;
	color: #0f862f;
	font-size: 1.2em;
	margin: 9px 0px 0px 0px;
}

#report #costs {
	font-weight: bold;
	color: #B22222;
	font-size: 1.2em;
	margin: 2px 0px 9px 0px;
}

#report #balance {
	font-weight: bold;
	font-size: 1.2em;
	border-top: 2px solid #394359;
	padding: 10px 0px 0px 0px;
}

/*__________________________________ grafy __________________________*/

#graphs #canvas {
	background: #EEE;
	border: 2px solid #394359;
	border-radius: 5px;
	margin: 20px 0px 0px 0px;
}

#graphs table {
	width: 355px;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px 0px 0px -7px;
}

#graphs table tr td {
	text-align: center;
}