img {
	position: absolute;
	top: -230px;
	bottom: 0;
	left: -550px;
	right: 0;
}

form {
	display: flex;
	flex-direction: column;
	background: #3E332D;
	border: 4px solid white;
	border-radius: 3px;
	height: 400px;
	width: 600px;
	position: absolute;
	margin: auto;
	padding: 30px 20px;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 220px;
	color: white;
}

.errorMessage {
	height: 20px;
	width: 280px;
	margin: -20px 0px 2px 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: red;
}

.clientNumberContainer, .passwordContainer {
	display: flex;
	justify-content: space-between;
	margin: 30px 0px;
}

.clientNumberContainer {
	margin: 70px 0px 30px 0px;
}

label {
	font-size: 1.5em;
	width: 235px;
	text-align: right;
}

input {
	float: left;
	height: 29px;
	font-size: 1.4em;
	padding: 2px 4px;
	border-radius: 3px;
	border: none;
	margin: 0px 35px 0px 0px;
	width: 262px;
}

input:focus {
	outline: none;
}

input:-webkit-autofill, input:-webkit-autofill:hover,
input:-webkit-autofill:focus, input:-webkit-autofill:active {
	-webkit-text-fill-color: black;
	box-shadow: 0 0 0 30px white inset;
}

input:-webkit-autofill::first-line {
  font-size: 22px;
}

button {
	margin: 50px 0px 0px 0px;
	padding: 10px 20px;
	font-size: 1.5em;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	border: 2px solid #B22222;
	border-radius: 3px;
	cursor: pointer;
	transition: background 0.5s ease-in-out;
	color: white;
}

button:hover, button:focus {
	background: #B22222;
	outline: none;
}